<div class="container">
  <div class="card">
    <div class="imgBox">
      <img
        src="assets\images\1.GIF"
        alt="imageOne"
        width="300"
        height="400"
      />
    </div>
    <div class="details">
      <h2>Her Voice</h2>
      <p>
        THE wild bee reels from bough to bough<br />
        With his furry coat and his gauzy wing.<br />
        Now in a lily-cup, and now<br />
        Setting a jacinth bell a-swing,<br />
        In his wandering;<br />
        Sit closer love: it was here I trow<br />
        I made that vow
      </p>
    </div>
  </div>

  <div class="card">
    <div class="imgBox">
      <img src="assets\images\2.GIF" alt="imagTwo" width="300" height="400" />
    </div>
    <div class="details">
      <h2>Her Voice</h2>
      <p>
        Swore that two lives should be like one<br />
        As long as the sea-gull loved the sea,<br />
        As long as the sunflower sought the sun,--<br />
        It shall be, I said, for eternity<br />
        'Twixt you and me!<br />
        Dear friend, those times are over and done,<br />
        Love's web is spun
      </p>
    </div>
  </div>

  <div class="card">
    <div class="imgBox">
      <img src="assets\images\3.GIF" alt="imageThree" width="300" height="400" />
    </div>
    <div class="details">
      <h2>Her Voice</h2>
      <p>
        Look upward where the poplar trees<br />
        Sway and sway in the summer air,<br />
        Here in the valley never a breeze<br />
        Scatters the thistledown, but there<br />
        Great winds blow fair<br />
        From the mighty murmuring mystical seas,<br />
        And the wave-lashed leas.
      </p>
    </div>
  </div>

  <div class="card">
    <div class="imgBox">
      <img src="assets\images\4.GIF" alt="imageFour" width="300" height="400" />
    </div>
    <div class="details">
      <h2>Her Voice</h2>
      <p>
        Look upward where the white gull screams,<br />
        What does it see that we do not see?<br />
        Is that a star? or the lamp that gleams<br />
        On some outward voyaging argosy,--<br />
        Ah! can it be<br />
        We have lived our lives in a land of dreams!<br />
        How sad it seems.
      </p>
    </div>
  </div>

  <div class="card">
    <div class="imgBox">
      <img src="assets\images\5.GIF" alt="imageFive" width="300" height="400" />
    </div>
    <div class="details">
      <h2>Her Voice</h2>
      <p>
        Sweet, there is nothing left to say<br />
        But this, that love is never lost,<br />
        Keen winter stabs the breasts of May<br />
        Whose crimson roses burst his frost,<br />
        Ships tempest-tossed<br />
        Will find a harbour in some bay,<br />
        And so we may.
      </p>
    </div>
  </div>

  <div class="card">
    <div class="imgBox">
      <img src="assets\images\6.GIF" alt="imageSix" width="300" height="400" />
    </div>
    <div class="details">
      <h2>Her Voice</h2>
      <p>
        And there is nothing left to do<br />
        But to kiss once again, and part,<br />
        Nay, there is nothing we should rue,<br />
        I have my beauty,--you your Art,<br />
        Nay, do not start,<br />
        One world was not enough for two<br />
        Like me and you.
      </p>
    </div>
  </div>
</div>
