<div class="row">
  <div class="col-xs-12">
    <p style="color: rgb(124, 85, 13); font-weight: bold">Add new Servers or blueprints!</p>
    <label>Server Name</label>
    <!-- <input type="text" class="form-control" [(ngModel)]="newServerName" /> -->
    <input 
    type="text" 
    class="form-control" 
    #serverNameInput
    />
    
    <label>Server Content</label>
    <!-- get access with DOM Elements instead of double binding-->
    <!-- <input type="text" class="form-control" [(ngModel)]="newServerContent" /> -->
    <input 
    type="text" 
    class="form-control" 
    #serverContentInput
    
    />
  
    
    <br />
    <!-- user local reference serverNameInput -->
    <button class="btn btn-primary" (click)="onAddServer(serverNameInput)">
      Add Server
    </button>
    <button class="btn btn-primary" (click)="onAddBlueprint(serverNameInput)">
      Add Blueprint
    </button>
  </div>
</div>