<!-- To see code for assingment 1  uncomment 2 lines below-->
<!-- <app-warning-alert></app-warning-alert>
<app-success-alert></app-success-alert> -->
<!-- end of assingment 1 -->

<!-- assingment 2 -->
<!-- To see code for assingment 2  uncomment next line-->
<!-- <app-assingment2></app-assingment2> -->
<!-- end of assingment 2 -->

<!-- assingment 3 -->
<!-- To see code for assingment 3  uncomment next line-->
<app-assingment3></app-assingment3>
<!-- end of assingment 2 -->

<p [ngStyle]="{backgroundColor: getColor()}"
[ngClass]="{'online': serverStatus === 'online'}"
>{{'Server'}} with ID {{ serverId }} is {{ serverStatus }} </p>
