<div class="container-fluid">
  <div class="row">
    <div class="col bg-dark text-white">
      <h2>Hockey School
    </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-3 bg-info p-2 text-white">
      {{ categories.length }} Categories
    </div>
    <div class="col-9 p-2">
      <div class="card m-1 p-1 bg-transparent" *ngFor="let course of courses">
        <h5>
          {{ course.name }}
        
        <span class="badge badge-pill badge-primary float-right">
          {{ course.price | currency: "$CAN":"symbol":"2.2-2" }}
        </span>
      </h5>
        <div class="card-text p-1 text-mar">{{ course.description }}</div>
      </div>
    </div>
  </div>
</div>
