<!-- <br /><input type="text" class="form-control" 
(input)="onUpdateServerName($event)"/><br /> -->

<input type="text" class="form-control" [(ngModel)]="serverName" /><br />

<!-- <p>{{ serverName }}</p> -->
<label for="MYServerName"> Server Name: </label><br />

<button
  class="btn btn-primary"
  [disabled]="!allowNewServer"
  (click)="onCreateServer()"
  name="MYServerName"
>
  Add Server
</button>
<br />
<hr />

<!-- <p>{{ serverCreationSatus }}</p>
<br /><hr />
<p>{{ allowNewServer }}</p>
<h3 [innerText]="weather"></h3> -->

<p *ngIf="serverCreated">Server was created, server name {{ serverName }}</p>

<!-- use of ngIf else -->
<!-- <p *ngIf="serverCreated; else noServer">Server was created, server name {{ serverName }}</p>
<ng-template #noServer>
  <p>No server was created!</p>
</ng-template> -->

<!-- assingment 3 -->
<!-- <app-server></app-server> -->

<app-server *ngFor="let s of servers"></app-server>
