<!-- <br /><input type="text" class="form-control" 
(input)="onUpdateServerName($event)"/><br /> -->


<input 
type="text" 
class="form-control" 
[(ngModel)]="serverName"><br />

<!-- <p>{{ serverName }}</p> -->
<label for="MYServerName"> Server Name </label><br />

<button
  class="btn btn-primary"
  [disabled]="!allowNewServer"
  (click)="onCreateServer()"
  name="MYServerName">
  Add Server
</button>

<br />
<br />
<hr />

<p>{{ serverCreationSatus }}</p>

<br />
<br />
<hr />

<p>{{ allowNewServer }}</p>
<h3 [innerText]="weather"></h3>

<app-server></app-server>
